<a href="{{article.link}}" class="sl_card sl_card--blog sl_blog">            
    {# Card Content #}
    <div class="sl_card__content">
        <h2 class="sl_blog__title">{{ article.title|truncate(12) }}</h2>
        <p class="sl_blog__date">{{article.date|date("M j, Y")}}</p>
        <p class="sl_blog__preview">{{ article.preview.length(40).end(' ...').read_more(false).force }}</p>
    </div>{# /.sl_cell auto.sl_card__content #}

    {# Card Image #}
    {% if article.thumbnail %}
    <div class="sl_card__image" style="background-image: url({{ article.thumbnail.src() }}">
    </div>{# /.sl_card__image #}
    {% endif %}
</a>{# /.sl_card.sl_articles__card #}