{% block content %}

	{# SIDEBAR MENU #}
	{% if (post.parent != false) or (post.children) and (post.post_type != 'post') or (is_blog) %}
	<div class="sl_sidebar__menu-container">
	{% for item in menu %}
		{% if (item.current_item_ancestor == true) or (item.current == true and item.current_item_ancestor == false) %}
	    	<h3 class="sl_sidebar__title">{{ item.title }}</h3>
		{% endif %}
	{% endfor %}
	<ul class="sl_sidebar__menu">
		{% for item in menu %}
	    	{% if item.current_item_ancestor == true or (item.current == true and item.current_item_ancestor == false) %}
	        	{% for child in item.get_children %}
	            	<li class="{{ child.classes | join(' ') }}">
			        	<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>

			        	{% if child.get_children != null %}
			        	<ul>
	                    	{% for grandchild in child.get_children %}
	                        	<li class="{{ grandchild.classes | join(' ') }}">
					            	<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
				            	</li>
	                		{% endfor %}
	                	</ul>
	            		{% endif %}
		        	</li>
	        	{% endfor %}
	    	{% endif %}
		{% endfor %}
	</ul>
	</div>{# /.sl_sidebar__menu-container #}
	{% endif %}
	{# END SIDEBAR MENU #}

	{% if option.sidebar %}

		<div class="sl_sidebar__repeater">
		
		{# LOOP THROUGH ADDRESSES #}
		{% for sidebar in option.sidebar %}

			{# ADD LINK WRAPPER TO CARD IF ACTIVE #}
			{% if sidebar.item.link_wrapper == true %}
				<a href="{{sidebar.item.link_url.url}}" target="{{sidebaritem.link_url.target}}" class="sl_sidebar__card-wrapper">
				<svg version="1.1" preserveAspectRatio="none" viewBox="0 0 309.2 61" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
				<style type="text/css">
					.sl_sidebar__leftborder{fill:#0B4778;}
					.sl_sidebar__leftborder2{fill:#5A719A;}
					.sl_sidebar__angleborder{fill:#FFFFFF;stroke:#5A719A;stroke-miterlimit:10;}
				</style>
				<path class="sl_sidebar__angleborder" d="m2.5 0.5h304.2c1.1 0 2 0.9 2 2 0 0.2 0 0.4-0.1 0.6l-18.7 56c-0.3 0.8-1 1.4-1.9 1.4h-285.5c-1.1 0-2-0.9-2-2v-56c0-1.1 0.9-2 2-2z"/>
				<path class="sl_sidebar__leftborder" d="m5.5 0.5v60h-3c-1.1 0-2-0.9-2-2v-56c0-1.1 0.9-2 2-2h3z"/>
				<rect class="sl_sidebar__leftborder2" x="5.5" y=".5" width="5" height="60"/>
				</svg>
			{% endif %}

			<div class="sl_sidebar__card">
			{% if sidebar.item.title %}<h3>{{sidebar.item.title}}</h3>{% endif %}
			{% if sidebar.item.content %}{{sidebar.item.content}}{% endif %}
			</div>{# /.sl_sidebar__card #}

			{% if sidebar.item.link_wrapper == true %}
				</a>{# /.sl_sidebar__card-wrapper #}
			{% endif %}

 		{% endfor %}
 		</div>{# /.sl_sidebar__repeater #}
	{% endif %} 

{% endblock %}