<div id="sl_footer" class="sl_footer">

	<div class="sl_inner">

		<div class="sl_row">
			<div class="sl_cell sl_footer__address">

				{# Footer Address #}
				{% include "footer/address.twig" %}

			</div>{# /.sl_footer__branding #}

			<div class="sl_cell sl_footer__branding">

				{# SOCIAL ICONS#}
				{% include "partials/footer/social-media.twig"  %}

				{# FOOTER Logos #}
				{% include "partials/footer/footer-logos.twig" %}
					
			</div>{# /.sl_footer__navigation#}

    	</div>{# /.sl_row #}
	</div>{# /.sl_inner #}


	{# Info #}
    <div class="sl_footer__info">
		<div class="sl_inner">

			{# FOOTER WYSIWYG #}
			{% if option.footer_wysiwyg %}
				{{option.footer_wysiwyg}}
			{% endif %}

			{# FOOTER LINKS #}
			{% if footer_menu.theme_location == 'footer-menu' %}
				{% include "footer/footer-menu.twig" with {'menu': footer_menu.get_items } %}
			{% endif %}
			
			{# COPYRIGHT #}
  			<p>&copy; {{ now|date('Y') }} {{ bloginfo('name') }}. All Rights Reserved.</p>

		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__info #}
</div>{# /.sl_footer #}