<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />

    <!-- Icons & Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.link}}/dist/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/dist/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.link}}/dist/img/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="{{site.theme.link}}/dist/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

  {% if '/about-us/faq/' in post.link %}
    <link rel="canonical" href="{{site.url}}/about-us/faq/" />
  {% endif %}

   <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/c5fdac2fdb.js" crossorigin="anonymous"></script>

    <!--[if IE]>
		<link rel="shortcut icon" type="image/png" href="{{site.theme.link}}/img/favicon.ico">
	<![endif]-->

    {{function('wp_head')}}
