{% extends "base.twig" %}

{% block content %}

{# Check for Featured Image #}
{% if option.blog.image %}
	<div class="sl_content__header">
		<div class="sl_content__header__image" style="background-image: url({{ option.blog.image.url }})"></div>
	</div>	
{% endif %}

{# Breadcrumbs #}
<div class="sl_inner show-for-medium">
	{{ function('get_breadcrumb') }}
</div>

<article>
	<section class="sl_content__body">
		<div class="sl_inner">

			<div class="sl_row">
				<div class="sl_cell large-8 xlarge-9 sl_content__main">

					<main id="main" class="sl_main">
					{%  if option.blog.title %}
						<h1>{{ option.blog.title }}</h1>
					{% endif %}

					{%  if option.blog.wysiwyg %}
						{{ option.blog.wysiwyg|wpautop }}
					{% endif %}

					<div class="sl_content__loop">
					{% for article in posts %}
						{% include 'partials/archive-article.twig' %}
					{% endfor %}
					</div>

						{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 1}) } %}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

				<div class="sl_cell large-4 xlarge-3 show-for-large sl_content__sidebar">
					<div data-sticky-container class="sl_sidebar">
						<div data-sticky class="sl_sidebar__container sl_sticky"  data-anchor="main">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end #sidebarcontent -->
					</div><!-- end sticky container -->
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}

	{# Global CTA  #}
	{% if option.global_cta.wysiwyg %}
		{% include "page-global-cta.twig" %}
	{% endif %}
</article>

{% endblock %}