{% extends "module.twig" %}

{% block card %}
	
	{% if module.header %}
		<h2>{{ module.header }}</h2>
	{% endif %}

	<div class="sl_testimonial__slider">

	{% for item in this.testimonial %}
	<div class="sl_testimonial__slide">
	 	<div class="sl_row">

			{# TESTIMONIAL MEDIA #}
	 		<div class="sl_testimonial__media sl_cell">
	 			<div class="sl_testimonial__media__container">
	 				<div class="sl_testimonial__image" style="background-image: url({{Image(item.image).src}})">

					</div>{# /.sl_testimonial__image #}
	 			</div>{# /.sl_testimonial__media__container #}
	 		</div>{# /.sl_testimonial__media #}
			
			{# TESTIMONIAL CONTENT #}
			<div class="sl_testimonial__content sl_cell large-auto medium-12 small-12">
				<div class="sl_testimonial__quote">
					{{item.quote|wpautop}}
				</div>

				<p class="sl_testimonial__cite">{{item.cite}}</p>
			</div>{# /.sl_testimonial__content.sl_cell.auto #}
	 	</div>{# /.sl_row #}
 	</div>{# /.sl_testimonial__slide #}
 	{% endfor %}

 	</div>{# /.sl_testimonial__slider #}

 	<div class="sl_testimonial__controls"></div>

 	{# BUTTONS #}
	{% if module.buttons.buttons %}
		{% include "card-button.twig" with { card : module.buttons } %}
	{% endif %}
	

{% endblock %}