{% extends "module.twig" %}
{% block card %}
{% if option.address %}
    <div class="sl_row">
        {# DUO CONTENT #}
        <div class="sl_location__content sl_cell large-6">
            <div class="sl_location__card sl_card sl_card--location">
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="name"><strong>{{option.address.location_name}}</strong></span><br>
                    <span itemprop="streetAddress">{{option.address.street_address}}</span><br>
                    <span itemprop="addressLocality">{{option.address.city}}, {{option.address.state}}</span> 
                    <span itemprop="postalCode">{{option.address.zip_code}}</span><br>
                </p>
                <p><a href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a></p>
                <a class="sl_button sl_button--simple" href="https://www.google.com/maps/dir/?api=1&destination={{option.address.google_map.lat}},{{option.address.google_map.lng}}" target="_blank" rel="noreferrer">Directions</a>
            </div>{# /.sl_location__card #}
        </div>{# /.sl_location__content #}
        {# DUO MEDIA #}
        <div class="sl_location__map sl_cell large-6">
            {# GOOGLE MAP #}
                {% include 'card-google-map.twig' with { map : option.address } %}
        </div>{# /.sl_location__map #}
    </div>{# /.sl_row #}
{% endif %} 
{% endblock %}