.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--xl - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);

		& > h2, & > p {
			text-align: center;

			@include breakpoint (small down) {
				text-align: left;
			}//end small down breakpoint
		}//end & > h2, p

		& > p {
			max-width: 725px;
			margin-left: auto;
			margin-right: auto
		}//end & > p

		& > .sl_row {
			margin-top: $spacing--lg;
		}//end & > .sl_row

		.sl_cell {
			padding: 0 $spacing--md/2;

			@include breakpoint (small down) {
				padding: 0;

				&:not(:last-of-type) {
					margin-bottom: $spacing--sm;
				}//end &:not(:last-of-type)
			}//end small down breakpoint
		}//end .sl_cell
	}//end .sl_inner
}//end .sl_deck