.sl_duo {
	padding-bottom: $spacing--xxl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--md;
	}//end small down breakpoint

		.sl_inner {
		& > .sl_row {
			background-color: get-color(inverse);
			border-radius: $border-radius;
			overflow: hidden;
			box-shadow: $shadow;

			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__media {
		min-height: 370px;

		@include breakpoint (medium down) {
			order: 2;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			min-height: 200px;
			margin-top: $spacing--sm;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;

			@include breakpoint (medium down) {
				order: 2;
			}//end medium down breakpoint
		}//end &__container

		&--video {
			.sl_duo__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

			}//end .sl_duo__image
		}//end &--video

		&--gallery {
			@include breakpoint (small down) {
				margin-top: 0;
				order: 1 !important;
			}//end small down breakpoint
		}//end &--gallery
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		display: flex;
		align-items: center;

		@include breakpoint (medium down) {
			order: 1;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
		}//end small down breakpoint

		.sl_button-group {
			justify-content: flex-start;

			@include breakpoint (small down) {
				align-items: initial;
			}//end small down breakpoint
		}//end .sl_button-group

		&--gallery {
			@include breakpoint (small down) {
				order: 2 !important;
			}//end small down breakpoint
		}//end &--gallery
	}//end &__content

	h2 {
		font-size: 3rem;

		@include breakpoint (medium down) {
			font-size: 2rem;
		}//end medium down breakpoint
	}//end h2

	&__gallery {
        position: relative;
        display: flex;
        height: 100%;

        .slick-list {
            width: 100%;

            .slick-track, .slick-track div {
                width: 100%;
            }//end .slick-track, .slick-track div

            .slick-slide img {
                object-fit: cover;
                object-position: center bottom;
                vertical-align: middle;
                max-width: 100%;
                -ms-interpolation-mode: bicubic;

                @include breakpoint (small down) {
                	height: 250px;
                }//end small down breakpoint
            }//end .slick-slide img
        }//end slick-list

        .slick-dots {
            position: absolute;
            bottom: $spacing--xs;
            left: 0;
            right: 0;
            margin: 0;
            z-index: 1;
            text-align: center;

            li {
                position: relative;
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: 0 5px;
                cursor: pointer;
                margin-bottom: 0 !important;

                @include breakpoint (small only) {
                    margin: 0 4px;
                    width: 12px;
                    height: 12px;
                }//end small only breakpoint

                &.slick-active {
                    button {
                        background-color: get-color(primary);
                        border: 1px solid get-color(primary);
                    }//end button
                }//end &.slick-active

                button {
                    background-color: transparent;
                    border-radius: 50%;
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    border: 1px solid rgba(get-color(inverse),.5);

                    @include breakpoint (small only) {
                        width: 12px;
                        height: 12px;
                        border-width: 1px;
                    }//end small only breakpoint
                }//end button
            }//end li
        }//end .slick-dots
    }//end &__slider

    &__arrows {
    	position: absolute;
    	font-size: 1.5rem;
    	z-index: 1;
    	top: calc(50% - 14px);
    	cursor: pointer;

    	--fa-secondary-color: #EFF7FB;
    	--fa-primary-color: black;
    }//end &__arrows

    &__prev {
    	left: $spacing--sm;

    	@include breakpoint (small down) {
    		left: $spacing--xs;
    	}//end small down breakpoint
    }//end prev

    &__next {
    	right: $spacing--sm;

    	@include breakpoint (small down) {
    		right: $spacing--xs;
    	}//end small down breakpoint
    }//end &__next

	//DUO TYPES

	&--right {
		.sl_duo__media {
			order: 2;
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
		}//end .sl_duo__content
	}//end &--right

	&--billboard {
		position: relative;
		padding: 0 !important;

		.sl_duo__content {
			position: relative;
			min-height: 600px;
			z-index: 1;

			.sl_card {
				z-index: 1;
				position: relative;
			}//end .sl_card

			@include breakpoint (medium only) {
				min-height: 550px;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				min-height: 0;
				position: static;
			}//end small down breakpoint

				&:after {
					@include pseudo;
					background: linear-gradient(115deg, #112F4E 0%, #0B4778 56%, #5A719A 0, #5A719A 57%,  #FFFFFF 0, #FFFFFF 57.5%, rgba(255,255,255,0.00) 57.5% );
					top: 0;
					bottom: 0;
					left: 0;
					width: 200%;
					z-index: 0;

					@include breakpoint (large down) {
						background: linear-gradient(110deg, #112F4E 0%, #0B4778 58%, #5A719A 0, #5A719A 59%,  #FFFFFF 0, #FFFFFF 59.5%, rgba(255,255,255,0.00) 59.5% );
					}//end large down breakpoint

					@include breakpoint (small down) {
						background: linear-gradient(171deg, #112F4E 0%, #0B4778 53%, #5A719A 0, #5A719A 54%,  #FFFFFF 0, #FFFFFF 54.5%, rgba(255,255,255,0.00) 54.5% );
					}//end small down breakpoint
			}//end &:after
		}//end .sl_duo__content

		.sl_duo__media {
			z-index: 0;
			@include breakpoint (small down) {
				margin-top: 0;
				min-height: 370px;
			}//end small down breakpoint
		}//end .sl_duo__media


		& > .sl_inner {
			max-width: none;
			padding: 0;

			& > .sl_row {
				overflow: initial;
				border-radius: 0;
				box-shadow: none;
			}//end & > .sl_row
		}//end & > .sl_inner

		.sl_card {
			padding: $spacing--xxl;
			padding-right: 0;
			z-index: 1;
			max-width: $global-width/2;
			margin-left: auto;

			@include breakpoint (medium only) {
				padding: $spacing--md;
				padding-right: 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--lg $spacing--sm;
			}//end small down breakpoint
		}//ennd .sl_card

		h2 {
			color: get-color(inverse) !important;
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end h2

		p {
			font-size: 1.375rem;
			color: get-color(inverse);
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				font-size: 1.25rem;
			}//end small down breakpoint
		}//end p

		.sl_button-group {

			@include breakpoint (small down) {
				flex-direction: row;

				.sl_button {
					width: 100%;
				}//end .sl_button

				& > :first-child {
					margin-right: $spacing--xs;
					margin-bottom: 0;
				}//end & > :first-child
			}//end smal down breakpoint
		}//end .sl_button-group

		.sl_button--border {
			border: 2px solid get-color(inverse);
			color: get-color(inverse);
			background: none;

			&:hover {
				color: get-color(primary);
				background-color: get-color(inverse)
			}//end &:hover
		}//end &--border
	}//end &--billboard;
}//.sl_duo