.sl_spotlight {
	h2 {
		font-size: rem-calc(36px);
		font-weight: $font-weight--semibold;
		margin-bottom: 0;
		flex: 0 1 auto;

		@include breakpoint (medium only) {
			font-size: rem-calc(30px);
		}//end medium only breakpoint

		@include breakpoint (small down) {
			text-align: center;
			font-size: rem-calc(30px);
			margin-bottom: $spacing--md;
		}//end small down breakpoint
	}//end h2 

	.sl_button-group {
		flex: 0 1 auto;

		@include breakpoint (medium only) {
			flex-direction: column;
			.sl_button {
				width: 100%;
			}//end .sl_button

			& > :first-child {
				margin-right: 0;
				margin-bottom: $spacing--sm;
			}//end & > :first-child
		}//end medium only breakpoint

	}//end .sl_button-group

	.sl_card {
		display: flex;
		background-color: get-color(inverse);
		box-shadow: $shadow;
		justify-content: space-between;
		padding: $spacing--lg $spacing--xxxl;

		@include breakpoint (medium only) {
			padding: $spacing--md;
			align-items: center;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--md $spacing--xs;
			flex-direction: column;
		}//end small down breakpoint
	}//end .sl_card

	&--primary {
		background-color: get-color(primary);

		.sl_card {
			max-width: 920px;
			margin: 0 auto;
			display: block;
			background: none;
			padding: 0;
			text-align: center;
			box-shadow: none;

			& * {
				color: get-color(inverse);
			}//end & *
		}//end .sl_card

		.sl_button--border {
			border: 2px solid get-color(inverse);
			color: get-color(inverse);
			background: none;

			&:hover {
				color: get-color(primary);
				background-color: get-color(inverse)
			}//end &:hover
		}//end &--border

		h2 {
			margin-bottom: $spacing--sm;
		}//end h2

		.sl_button-group {
			margin-top: $spacing--lg;

			@include breakpoint (small down) {
				margin-top: $spacing--md;
			}//end small down breakpoint
		}//end .sl_button-group
	}//end &--primary

}//end .sl_spotlight