.sl_testimonial {
	background-color: get-color(primary);
	padding-bottom: $spacing--xxl;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: $spacing--md;
		}//end small down breakpoint
	.sl_inner {
		
	}//end .sl_inner

	&__controls {
		text-align: center;
		padding: $spacing--xl 0;

		@include breakpoint (medium down) {
			padding: $spacing--xl 0 $spacing--lg;
		}//end medium down breakpoint

		.slick-dots {
	        margin: 0;

	        li {
	            position: relative;
	            display: inline-block;
	            width: 16px;
	            height: 16px;
	            margin: 0 5px;
	            cursor: pointer;
	            margin-bottom: 0 !important;

	            &.slick-active {
	                button {
	                    background-color: get-color(inverse)
	                }//end button
	            }//end &.slick-active

	            button {
	                background-color: transparent;
	                border-radius: 50%;
	                font-size: 0;
	                line-height: 0;
	                display: block;
	                width: 16px;
	                height: 16px;
	                cursor: pointer;
	                border: 1.5px solid get-color(inverse);
	            }//end button
	        }//end li
	    }//end .slick-dots
	}//end &__controls

	&__slide {
		& > .sl_row {
			align-items: center;
			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end &__slide

	&__media {
		width: 300px;

		@include breakpoint (medium down) {
			margin: 0 auto;
		}//end medium down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
			height: 300px;
			border-radius: 50%;
			overflow: hidden;
		}//end &__container
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: relative;
		padding-left: $spacing--xxl * 2;

		@include breakpoint (medium down) {
			flex: 0 0 auto;
			width: 100%;
			padding-left: 0;
			padding-top: $spacing--xxl;
		}//end medium down breakpoint

		& * {
			color: get-color(inverse);
		}//end & *

		&:before {
			content: '';
			position: absolute;
			width: 50px;
			height: 40px;
			background-image: url(#{$path-img}icon/quote-icon.svg);
			background-size: 100%;
			left: $spacing--xxl;
			top: 0;

			@include breakpoint (medium down) {
				width: 38px;
				height: 30px;
				left: 0;
				top: rem-calc(30px);
			}//end medium down breakpoint
		}//end &:before	
	}//end &__content

	&__quote {
		width: 100%;
		p {
			font-size: 1.5rem;

			@include breakpoint (small down) {
				font-size: 1.25rem;
			}//end small down breakpoint
		}//end p
	}//end &__quote

	&__cite {
		max-width: 275px;
		font-size: 1.25rem;
		font-style: italic;

		@include breakpoint (small down) {
			font-size: 1.125rem;
			max-width: none;
			text-align: right;
		}//end small down breakpoint

		strong {
			display: block;
			font-style: normal;
		}//end strong
	}//end &__cite

	.sl_button--border {
		border: 2px solid get-color(inverse);
		color: get-color(inverse);
		background: none;

		&:hover {
			color: get-color(primary);
			background-color: get-color(inverse)
		}//end &:hover
	}//end &--border


}//.sl_testimonial