.sl_wildcard {
	& > .sl_inner {
		& > .sl_row {
			& > .sl_cell {
				display: flex;
				align-items: center;

				@include breakpoint (small down) {
					&:not(:last-of-type) {
						margin-bottom: $spacing--sm;
					}//end &:not(:last-of-type);
				}//end small down breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end & > .sl_inner

	.sl_card {
		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint

		& > .sl_button {
			margin-top: $spacing--xs;
		}//end & > .sl_button

		& > .sl_button-group {
			margin-top: $spacing--md;
		}//end & > .sl_button-group
	}//end .sl_card

	&--contained {
		& > .sl_inner {
			& > .sl_row {
				@include container;
				padding: $spacing--xs $spacing--lg;

				@include breakpoint (small down) {
					padding: $spacing--lg $spacing--sm;
				}//end small down breakpoint
			}//end & > .sl_row
		}//end & > .sl_inner
	}//end &--contained
}//end .sl_wildcard