{# BLOCK GRID CLASSES #}
{% if module.grid_type == "block" %}
large-up-{{ module.block_size }} medium-up-{{ module.block_size_med }} small-up-{{ module.block_size_sm }} xsmall-up-{{ module.block_size_sm }}
{% endif %}

{# MEDIA CELL SIZE CLASSES #}
{% if cell_type == "media" %}
large-{{ module.cell_size }} medium-{{ module.cell_size_med }} small-{{ module.cell_size_sm }} xsmall-{{ module.cell_size_sm }}
{% endif %}

{# CONTENT CELL SIZE CLASSES #}
{% if cell_type == "content" %}
{% if module.cell_size == '12' %}large-12{% else %}large-{{ 12 - module.cell_size }}{% endif %} {% if module.cell_size_med == '12' %} medium-12 {% else %} medium-{{ 12 - module.cell_size_med }}{% endif %} {% if module.cell_size_sm == '12' %} small-12 xsmall-12{% else %} small-{{ 12 - module.cell_size_sm }} xmall-{{ 12 - module.cell_size_sm }}{% endif %}
{% endif %}

{# MEDIA CELL SIZE CLASSES #}
{% if cell_type == "wildcard" %}
large-{{ card.grid.cell_size }} medium-{{ card.grid.cell_size_med }} small-{{ card.grid.cell_size_sm }} xsmall-{{ card.grid.cell_size_sm }}
{% endif %}
