{# Global CTA  #}
<div class="sl_global-cta">
	<div class="sl_inner">
		<div class="sl_card sl_card--global-cta">
			{% if option.global_cta.wysiwyg %}
			{{ option.global_cta.wysiwyg|wpautop }}
			{% endif %}

			{# BUTTONS #}
			{% if option.global_cta.buttons %}
				{% include "card-button.twig" with { card : option.global_cta } %}
			{% endif %}
		</div>{# /.sl_card #}
	</div>{# /.sl_inner #}
</div>{# /.sl_content__global_cta #}