// ACF Layout stuff

.layout__img {
	display: inline-block;
	padding: 0 20px;
	vertical-align: middle;
	margin-bottom: 1px;
}
.layout__img img {
	vertical-align: middle;
}

h4.layout__label, h4.layout__title {
	display: inline-block;
	margin: 0px 0;
	line-height: 1;
	vertical-align: middle;
	font-weight: normal;
}

h4.layout__title {
	text-transform: none;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 13px;
	margin-left: 5px;
	color: #888;
}

.layout__info {
	display: inline-block;
	float: right;
	margin-right: 80px;
	font-family: monospace;
	font-size: 12px;
	color: #aaa;
	text-transform: none;
}

.layout__info .info--class {
	color: #0096dd;
}

.layout__info .info--id {
	color: #00ca38;
}



// Hover for that stuff
.acf-flexible-content .layout.-collapsed .acf-fc-layout-handle:hover p.layout_info {
	color: #444;
}