.sl_callout {
	@extend .callout;
	margin-bottom: $spacing--sm;
	overflow: auto;
	clear: both;
	border: none;
	padding: $spacing--lg $spacing--md;
	borde-radius: $border-radius;
	box-shadow: $shadow;
	background-color: get-color(inverse);

	&--nobox {

	}//end &--nobox

	&--primary {

	}//end &--primary

	&--inverse {

	}//end &--inverse

	&--border {

	}//end &--border

	&--border-left {
		justify-content: space-between;
		padding: 0 0 0 $spacing--lg;
		box-shadow: -2px 0px 0px 0px get-color(accent1), -4px 0px 0px 0px get-color(primary) ;
		border-radius: 0;
		background: none;

		ul {
			list-style: none;
			margin-left: 0;
		}//end ul
	}//end &--border-left

	&--card {
		padding: 0 !important;
		overflow: hidden;

		&__media {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__media
		&__content {
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &__content
	}//end &--card

	&--assessment {
	}//end &--assessment
}//end .sl_callout
