.sl_callout-link {
	@include container;
	display: block;
	padding: $spacing--md;
	margin-bottom: $spacing--sm;
	color: get-color(default);

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	h3 {
		font-size: rem-calc(26px);
		margin-top: 0 !important;
		color: get-color(secondary);
	}//end h3
}//end .sl_callout-link