.sl_staff-card {
	box-shadow: $shadow;
	padding: $spacing--lg $spacing--md;
	border-radius: $border-radius;
	margin-bottom: $spacing--sm;
	position: relative;

	@include breakpoint (small down) {
		padding: $spacing--sm $spacing--xs;
	}//end small down breakpoint

	&__name {
		margin-top: 0 !important;
		margin-bottom: 0;

		@include breakpoint (small only) {
			padding-right: $spacing--md;
		}//end small only breakpoint
	}//end &__name

	&__social {
		position: absolute;
		right: $spacing--xs;
		top: $spacing--xs;
		font-size: 1.5rem;
	}//end &__social

	&__button {
		color: get-color(secondary);
		cursor: pointer;
		font-weight: $font-weight--semibold;

		& > span {
			.sl_read__less {
				display: none;
			}//end .sl_read__less

			&:before {
				content: "+";
				display: inline;
			}//end &:before

			&.expanded {
				.sl_read__less {
					display: inline;
				}//end .sl_read__less

				.sl_read__more {
					display: none;
				}//end .sl_read__more

				&:before {
					content: "–";
					display: inline;
				}//end &:before
			}//end &.expanded
		}//end span
	}//end &__button

	&__bio {
		display: none;

		&.expanded {
			display: block;
		}//end &.expanded
	}//end &__bio
}//end .sl_staff-card