//Gradients
$gradient--primary: linear-gradient(90deg, #112F4E 0%, #0B4778 100%);
$gradient--secondary: linear-gradient(180deg, #02BFFF 0%, #018BFF 100%);
$gradient--border: linear-gradient(-90deg, #3434A2 0%, #0996F7 87%);