//SPACING
$spacing--xs: rem-calc(15px); //15px
$spacing--sm: 1.25rem; //20px
$spacing--md: 1.875rem; //30px
$spacing--lg: 2.8125rem; //45px
$spacing--xl: 3.75rem; //60px
$spacing--xxl: 4.5rem; //72px
$spacing--xxxl: 6.25rem; //96px