/*--------------------
1. Headings
2. Paragraphs
3. Lists
4. Blockquotes
5. Links
---------------------*/

body {
	color: get-color(default);

	//-----------------
	//1. HEADINGS
	//-----------------
	h1,h2,h3,h4,h5,h6 {
		font-weight: $font-weight--semibold;
	}//all headings

	h1 {
		font-weight: $font-weight--extrabold;
	}///end h1 
	h2 {
		margin-top: 2.5rem;
		margin-bottom: 1.25rem;
		color: get-color(primary);
	}///end h2

	.sl_module h2 {
		margin-top: 0;
		color: get-color(default);
	}//end .sl_module

	h3 {
		margin-top: 1.4rem;
		margin-bottom: .625rem;
	}///end h3

	.sl_module h3 {
		margin-top: 0;
	}//end .sl_module
	
	h4 {

	}///end h4 
	h5 {

	}///end h5 
	h6 {

	}///end h6

	//-----------------
	//END HEADINGS
	//-----------------

	//-----------------
	//2. PARAGRAPHS
	//-----------------

	p {
		font-size: $font-size--regular;
		margin-bottom: $spacing--md;

		@include breakpoint (small down) {
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end p

	//-----------------
	//END PARAGRAPHS
	//-----------------

	//-----------------
	//3. LISTS
	//-----------------

	ul, ol, li {
		font-size: $font-size--regular;
	}

	ul {
		margin-bottom: $spacing--sm;
	}

	.sl_content {
		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: $spacing--xs;
				}//end &:not(last-of-type)
			}//end li

			&.sl_list {
				list-style: none;
				margin: 0 0 $spacing--sm $spacing--xs + rem-calc(8px);

				li {
					&:not(:last-of-type){
						margin-bottom: $spacing--xs;
					}//end &:not(:last-of-type)

					&:before {
						content: '';
						display: inline-block;
						margin-right: $spacing--xs;
						margin-left: -$spacing--xs - rem-calc(8px);
						background-color: get-color(secondary);
						background-repeat: no-repeat;
						width: 8px;
						height: 8px;
						border-radius: $border-radius--circle;
					}//end &:before
				}//end li

				&--primary {
					@extend .sl_list;

					li {
						&:before {
							background-color: get-color(primary);
						}//end &:before
					}//end li
				}//end &--primary

			}//end &.sl_list
		}//end ul
	}//end .sl_content

	ol {
		margin-bottom: $spacing--sm;
		li {
			&:not(:last-of-type) {
				margin-bottom: $spacing--xs;
			}//end &:not(:last-of-type)
		}//end li
	}//end ol

	//-----------------
	//END LISTS
	//-----------------

	//-----------------
	// 4. BLOCKQUOTES
	//-----------------
		blockquote {
			padding: $spacing--xl $spacing--md $spacing--lg $spacing--sm + $spacing--md + rem-calc(50px);
			border-left: 0;
			background-color: get-color(inverse);
			border-radius: $border-radius;
			box-shadow: $shadow;
			margin-bottom: $spacing--sm;
			font-size: 1.25rem;
			position: relative;

			@include breakpoint (small down) {
				padding: $spacing--sm;
				padding-top: $spacing--sm + $spacing--xs + rem-calc(30px);
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child

			&:before {
				content: '';
				position: absolute;
				width: 50px;
				height: 40px;
				background-image: url(#{$path-img}icon/quote-icon.svg);
				background-size: 100%;
				left: $spacing--md;
				top: $spacing--lg;

				@include breakpoint (small down) {
					width: 38px;
					height: 30px;
					left: $spacing--sm;
					top: $spacing--sm;
				}//end small down breakpoint
			}//end &:before	

			p {
				font-size: 1.25rem;
			}//end p

			cite {
				text-align: right;
				font-weight: $font-weight--bold;
				font-size: 1.125rem;
				margin-top: $spacing--sm;
				font-style: normal;
				max-width: 350px;
				margin-left: auto;

				&:before {
					display: none;
				}//end &:before
			}//end cite
		}//end blockquote
	//-----------------
	//END BLOCKQUOTES
	//-----------------

	//-----------------
	// 5. LINKS
	//-----------------
		.sl_content {
			a {
				&:not([class]) {
					color: get-color(secondary);
					font-weight: $font-weight--semibold;

					&:hover {
						color: get-color(primary);
					}//end &:hover
				}//end &:not([class])
			}//end a
		}//end .sl_content
	//-----------------
	//END LINKS
	//-----------------
}//end body