//1. Blog Archive Page
//2. Category Archive Page
//-------------------------

//1. BLOG ARCHIVE PAGE 
body.blog {
	.sl_content {

		&__header {
			height: 140px;
			position: relative;
			overflow: hidden;

			@include breakpoint (small down) {
				height: 60px;
			}//end small down breakpoint
			

			&__image {
				position: absolute;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
				filter: blur(5px);
			}//end &__after

			&:after {
				@include pseudo;
				background-color: get-color(default);
				opacity: .2;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}//end &:after
		}//end &__header

		&__body {
			padding: $spacing--xxl 0 $spacing--xxl * 2;

			@include breakpoint (small down) {
				padding: $spacing--xl 0 $spacing--xl * 2;
			}//end small down breakpoint
		}//end &__body

		&__main {
			padding-right: $spacing--xxxl;

			@include breakpoint (medium down) {
				padding: 0;
			}//end medium down breakpoint
		}//end &__main

		&__loop {
			margin-top: $spacing--xxl;

			@include breakpoint (small down) {
				margin-top: $spacing--lg
			}//end small down breakpoint
		}//end &__loop
	}//end .sl_content
}//end body.blog
//END ARTICLES ARCHIVE PAGE

//2. CATEGORY ARCHIVE PAGE
body.archive {
	.sl_content {
		&__body {
			.sl_inner {

			}//end .sl_inner
		}//end &__body

		//MAIN CONTENT
		&__main {

			.sl_main {
				& > h2 {

				}//end & > h2
				& > .sl_row {
					& > .sl_cell {

					}//end & > .sl_cell
				}//end & > .sl_row
			}//end .sl_main

			.sl_pagination {
			}//end .sl_pagination
		}//end &__main

		&__loop {

		}//end &__loop
	}//end .sl_content
}//end body.category
//END CATEGORY ARCHIVE PAGE