.sl_breadcrumbs {
	margin-top: $spacing--sm/2;

	// Most styles found in settings.scss file
	li {
		margin-bottom: 0;
		line-height: 1;
		font-weight: $font-weight--semibold;

		// &:not(:last-child) {
		// 	&:after {
		// 		color: get-color(default);
		// 	}//end &:after
		// }//end &:not(:last-child)

		@include breakpoint (small down) {
			line-height: 1.5;
		}//end small down breakpoint

		// a {
		// 	color: get-color(default);
		// }//end a
	}//end li

	&__current {
	}//end &__current

}//end .sl_breadcrumbs

body.home .sl_breadcrumbs {
	display: none;
}