.sl_footer {
	background-color: get-color(default);
	padding: $spacing--xxl 0;

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint

	& > .sl_inner {
		& > .sl_row {
			justify-content: space-between;

			@include breakpoint (small down) {
				flex-direction: column;
			}//end small down breakpoint
		}//end & > .sl_row
	}//end & > >sl_inner

	&__logo {
		text-align: center;
		img {
			max-width: 168px;
			width: 100%;
		}//end img
	}//end &__logo

	&__address {
		flex: 1 1;

		@include breakpoint (small down) {
			margin-bottom: $spacing--md;
		}//end small down breakpoint

		h3 {
			font-weight: $font-weight--bold;
			font-size: 1.25rem;
			margin-bottom: $spacing--xs;
		}//end h3

		a {
			color: get-color(inverse) !important;
			font-size: 1.125rem;
			display: block;
			line-height: 1.8;

			@include breakpoint (large only) {
				font-size: 1.125rem;
			}//end large only breakpoint
		}//end a

		p {
			font-size: 1.125rem;
			margin-bottom: 0;
			font-weight: $font-weight--regular;
			line-height: 1.8;

			@include breakpoint (large only) {
				font-size: 1.125rem;
			}//end large only breakpoint
		}//end p

		.sl_phone {
			margin-top: $spacing--xs;
			color: get-color(inverse) !important;
			font-weight: $font-weight--regular;
		}//end .sl_phone
	}//end &__address

	&__branding {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 300px;

		@include breakpoint (small down) {
			width: 100%;
		}//end small down breakpoint
	}//end &__branding

	//Info
	&__info {
		@include breakpoint (small down) {
			padding-top: $spacing--md
		}//end small down breakpoint
		
		.sl_inner {
			p {
				text-align: center;
				font-size: 1rem;
			}//end p

			& > * {
				color: get-color(inverse);
			}//end & > *

			a {
				color: get-color(inverse) !important;
			}//end a

			& > :last-child { margin-bottom: 0; }

			.sl_menu {
				justify-content: center;
				align-items: center;
				margin-bottom: $spacing--md;

				& * {
					color: get-color(inverse);
				}//end & *

				& > li {
					font-weight: $font-weight--bold;
					font-size: 1rem;
					position: relative;

					&:not(:last-of-type) {
						padding-right: $spacing--sm;
						margin-right: $spacing--sm;

						&:after {
							content: '|';
							position: absolute;
							right: 0;
							top: 0;
							font-weight: $font-weight--regular;
						}//end &:after
					}//end &:not(:last-of-type)
				}//end & > li

				a {
					padding: 0;
					line-height: 1.5;
				}//end a
			}//end .sl_menu
		}//end .sl_inner
	}//end &__info

	//Social
	&__socials {
		margin-bottom: $spacing--sm;
		.sl_socials {
			.sl_cell {
				width: auto;
				padding: 0 $spacing--xs;
				display: flex;
				align-items: center;
			}//end .sl_cell

			@include breakpoint (small down) {
				justify-content: space-between;
			}//end small down breakpoint
		}//end .sl_socials
	}//end &__socials
		

}//end .sl_footer