.sl_global-cta {
	background-color: get-color(primary);
	padding: $spacing--xxl 0;

	@include breakpoint (large only) {
		padding: $spacing--xl 0;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--lg 0;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint

	h2, h3 {
		margin-top: 0 !important;
	}//end h2, h3

	.sl_card {
		max-width: 920px;
		margin: 0 auto;
		display: block;
		background: none;
		padding: 0;
		text-align: center;
		box-shadow: none;

		& * {
			color: get-color(inverse);
		}//end & *
	}//end .sl_card

	.sl_button--border {
		border: 2px solid get-color(inverse);
		color: get-color(inverse);
		background: none;

		&:hover {
			color: get-color(primary);
			background-color: get-color(inverse)
		}//end &:hover
	}//end &--border

	h2 {
		font-size: rem-calc(36px);
		font-weight: $font-weight--semibold;
		margin-bottom: $spacing--sm;
	}//end h2

	.sl_button-group {
		margin-top: $spacing--lg;
	}//end .sl_button-group
}//end .sl_global-cta