.sl_header {
	position: relative;
	z-index: 999;
	background-color: get-color(inverse);
	max-width: none;
	box-shadow: $shadow;
	padding-bottom: $spacing--xs;
	
	// LARGE HEADER //
	.sl_nav {
		background-color: transparent;
		position: relative;
		margin: 0 auto;
		padding: 0;
		@include inner;

		@include breakpoint (xlarge only) {
			padding-left: $spacing--md;
			padding-right: $spacing--md;
		}//end xlarge only breakpoint

		@include breakpoint (large only) {
			padding-left: $spacing--sm;
			padding-right: $spacing--sm;
		}//end large only breakpoint

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 358px;

			@include breakpoint (xlarge only) {
				max-width: 290px;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				max-width: 200px;
			}//end large only breakpoint

		}//end &__left

		&__logo {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 60px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;


				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(secondary);
						padding: rem-calc(10px) $spacing--xs;
						@include transition (.2s all ease-in-out);
						font-size: 1.125rem;
						font-weight: $font-weight--semibold;
						border-radius: $border-radius;
						height: 100%;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(primary);
							font-weight: $font-weight--semibold;
						}//end &:hover

						@include breakpoint (large only) {
							font-size: 1rem;
							padding: $spacing--xs $spacing--sm/2;
						}//end large only breakpoint
					}//end & > a

					//Menu Items with Dropdown
					&.menu-item-has-children {
						& > a {
							&:after {
								@include fontawesome ($content:'\f0d7');
								display: inline-block;
								margin-left: $spacing--xs/2;
								position: static;
							}//end &:after
						}//end & > a
					}//end .menu-item-has-children

					//Current Page 
					&.current_page_item, &.current_page_parent {
						& > a {
							color: get-color(primary);
							font-weight: $font-weight--bold;
						}//end & > a
					}//end &.current_page_item

					//Drown Menu 
					& > .is-dropdown-submenu {
							top: calc(100% + 15px);
							background: get-color(inverse);
							box-shadow: $shadow--dropdown;
							border: none;
							padding: $spacing--sm/2 0;

							& > li {
								& > a {
									font-size: 1.125rem;
									color: get-color(secondary);
									font-weight: $font-weight--semibold;
									padding: $spacing--sm/2 $spacing--md;
									@include transition (.2s all ease-in-out);

									@include breakpoint (large only) {
										font-size: 1rem;
										padding: $spacing--xs;
									}//end large only breakpoint

									&:hover {
										text-decoration: underline;
										color: get-color(secondary);
										@include transition (.2s all ease-in-out);
									}//end &:hover
								}//end & > a

								&.is-active {
									& > a {
										background-color: rgba(get-color(primary), .1);
										color: get-color(primary);
									}//end & > a
								}//end .is-active
							}//end & > li
						}//end & > .is-dropdown-submenu


					// CTA 
					&.sl_menu__cta {
						& > a {
							border: 2px solid get-color(secondary);

							&:hover {
								border-color: get-color(primary);
								background-color: get-color(primary);
								color: get-color(inverse);
							}//end &:hover
						}//end & > a
					}//end &.sl_menu__cta

				}//end & > li
			}//end .sl_menu
		}//end &__menu


		// USER NAV
		&__secondary {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-top: $spacing--xs;
			padding-bottom: $spacing--xs;

			@include breakpoint (large only) {
				padding-top: $spacing--xs/2;
				padding-bottom: $spacing--xs/2;
			}//end large only breakpoint
		}//end &__secondary

		// PHONE
		&__phone {
			font-size: 1rem;
			color: get-color(default);
			font-weight: $font-weight--regular;
		}//end &__phone

		&__search {
			padding: 0;
			padding-left: $spacing--sm;
			@include transition(.3s all ease-in-out);

			.sl_form {
				//Input
				&__input {
					width: 80px;
					height: 40px;
					padding-left: 0;
					padding-right: $spacing--sm;
					box-shadow: none;
					border: none;
					color: get-color(default);
					background: transparent;
					font-size: rem-calc(16px);
					@include transition(.3s all ease-in-out);

					//Place Holder Text
					@include placeholder {
						color: get-color(default);
						font-size: rem-calc(16px);
						font-weight: $font-weight--semibold;
					}//end @include placeholder

					&:active, &:focus {
						width: 120px;
						padding-left: $spacing--xs/2;
						background-color: rgba(get-color(default), .1);
						@include transition(.3s all ease-in-out);
						border: none;
						box-shadow: none;
					}//end &:focus, &:hover, &:active
				}//end &__input

				&__search {
					color: get-color(default);
					width: 14px;
					right: $spacing--xs/2;
				}//end &__search
			}//end .sl_form
		}//end &__search

		&__usermenu {
			.sl_menu {
				background-color: transparent;
				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						border-radius: $border-radius;
						color: get-color(inverse);
						padding: $spacing--xs/2;
						position: relative;
						@include transition(all .3s ease-in-out);

						@include breakpoint (large only) {
							font-size: 1rem;
						}//end large only breakpoint

						&:hover {
							background-color: rgba(get-color(inverse), .1);
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end .sl_menu
		}//end &__usermenu
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: $spacing--sm $spacing--xs 0 $spacing--xs;
		align-items: center;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 200px;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 40px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;
		}//end &__right

		&__menu {
			display: flex;
			flex-direction: column;
			align-items: center;
		}//end &__menu

		&__label {
			font-size: 1.25rem;
			color: get-color(secondary);
			font-weight: $font-weight--bold;
			text-align: center;
			display: block;
		}//end &__label
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js