//Default Page Template
body.page-template-default {
	.sl_content {

		&__header {
			height: 140px;
			position: relative;
			overflow: hidden;

			@include breakpoint (small down) {
				height: 60px;
			}//end small down breakpoint
			

			&__image {
				position: absolute;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
				filter: blur(5px);
			}//end &__after

			&:after {
				@include pseudo;
				background-color: get-color(default);
				opacity: .2;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}//end &:after
		}//end &__header

		&__body {
			padding: $spacing--xxl 0 $spacing--xxl * 2;

			@include breakpoint (small down) {
				padding: $spacing--xl 0 $spacing--xl * 2;
			}//end small down breakpoint
		}//end &__body

		&__main {
			padding-right: $spacing--xxxl;

			@include breakpoint (medium down) {
				padding: 0;
			}//end medium down breakpoint
		}//end &__main
	}//end .sl_content
}//end body.default
