.sl_sidebar {

	&__container {
	}//end &__container

	&__menu-container {
		justify-content: space-between;
		padding: 0 0 0 $spacing--sm;
		box-shadow: -2px 0px 0px 0px get-color(accent1), -4px 0px 0px 0px get-color(primary) ;
	}//end &__menu-container

	&__menu {
		list-style: none;
		margin-left: 0;

		& > li {
			margin-bottom: $spacing--xs/2 !important;
		}//end & > li
	}//end &__menu

	&__title {
		margin-top: 0;
		font-size: 1.375rem;
		color: get-color(primary);
		margin-bottom: $spacing--xs/2;
		font-weight: $font-weight--bold;
	}//end &__title

	&__card-wrapper {
		position: relative;
		min-height: 60px;
		display: flex;
		align-items: center;
		margin-bottom: $spacing--sm;

		& > svg {
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}//end & > svg

		h3 {
			font-size: 1.125rem;
			margin-top: 0;
			margin-bottom: 0;
		}//end .sl_slidebar__title
	}//end &__card-wrapper

	&__card {
		padding: $spacing--xs $spacing--md;
		width: 100%;

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__card

	&__repeater {
		margin-top: $spacing--xl;
	}//end &__repeater
}//end .sl_sidebar

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
		}//rnf &__title

	}//end .sl_sidebar
}//end body.search