.sl_card {
	padding: $spacing--lg;
	width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide & {
			min-height: 200px;

			@include breakpoint (small down) {
				min-height: 175px;
			}//end small down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide & {
			padding: $spacing--sm;
		}//end .sl_deck &
	}//end &__content

	&__icon {
		.sl_card--deck & {
			background: $gradient--primary;
			height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				height: 120px;
				width: auto
			}//end img
		}//end .sl_card--deck
	}//end &__icon

//-----------------
//TYPES
//-----------------

	&--deck, &--slide {
		padding: 0;
		height: 100%;
		background-color: get-color(accent2);
	}//end &--deck

	&--deck {
		box-shadow: $shadow;

		p {
			color: get-color(default);
		}//end p

		h3 {
			font-size: 1.5rem;
			text-align: center;;
		}//end h3
	}//end &--deck

	&--blog {
		padding: 0;
		margin-bottom: $spacing--xl;
		color: get-color(default);

		@include breakpoint (small down) {
			flex-direction: column;
		}//end small down breakpoint

		.sl_blog__date {
			font-size: rem-calc(14px);
			margin-bottom: $spacing--sm;
		}//end .sl_blog__date

		h2 {
			font-size: rem-calc(30px);
			color: get-color(secondary);
			margin-bottom: 0;
			margin-top: 0 !important;

			@include breakpoint (small down) {
				font-size: rem-calc(26px);
			}//end small down breakpoint
		}//end h2

		p {
			line-height: 2rem;
		}//end p

		.sl_card__content {
			padding-right: $spacing--md;

			@include breakpoint (small down) {
				order: 2;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end .sl_card__content

		.sl_card__image {
			height: 175px;
			width: 265px;
			flex: 0 0 auto;
			border-radius: $border-radius;

			@include breakpoint (small down) {
				width: 100%;
				height: 200px;
				order: 1;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end .sl_card__image
	}//end &--blog

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
	@include transition (all .3s ease-in-out)

	&:hover {
		@include transition (all .3s ease-in-out)
	}//end &:hover

	&--blog {
		display: flex;
		justify-content: space-between;
	}//end &--blog
}//end a .sl_card
